<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="nav">
        <a href="/home/"><div class="home">HOME</div></a>
        <a href="/logout/"><div class="home">LOGOUT</div></a>
    </div>
    <div class="image">
       <img src="/static/C:\Users\KIIT\OneDrive\Desktop\inventonew\inventonew\static\vehicles-laptop-supply-chain-representation.jpg" alt="image not loaded">
    </div>
    <div class="heading">WELCOME  TO  DROPBOAT !</div>
    <div class="about">ABOUT US</div>
    <div class="para">
        <div class="box" id="box1"><h1>What we do ?</h1>
            <p>At Dropboat, we understand the challenges businesses face in managing their inventory efficiently. That's why we've developed a cutting-edge inventory system that combines advanced technology 
                with user-friendly interfaces, empowering businesses of all sizes to optimize their inventory processes and drive growth.

                At Dropboat, we recognize the critical importance of efficient inventory management in driving business success.
                Our inventory system offers a comprehensive suite of features, including crud operations, order managemen, reporting and analytics, and integrations with third party apps for better experience 
                </p>
        </div>
        <div class="box" id="image2">
            <img src="/static/C:\Users\KIIT\OneDrive\Desktop\inventonew\inventonew\static\19368-removebg.png" alt="">
        </div>
    </div>
    <div class="para" id="para2">
        <div class="box" id="goal">
            Our goal !
        </div>
        <div class="box" id="box2"><h1>Why Us ?</h1>
            <p>Through our innovative software solutions, we aim to simplify inventory management by striving to make inventory management as simple and intuitive as possible,
                 allowing businesses to easily track and manage their inventory with minimal effort. Increasing Efficiency with our software to automate repetitive tasks and streamline processes 
                 ,enabling businesses to operate more efficiently and effectively. Improving accuracy by providing advanced reporting capabilities, we help businesses 
                 maintain accurate inventory records. Providing exceptional support by committing to deliver outstanding service and support to our clients, offering 
                 responsive technical assistance, and ongoing updates to ensure that our software continues to meet their evolving needs.
                </p>
        </div>
    </div>
    <div class="block"></div>
    <footer>
        <div class="bigcontainer">
            <div class="containerf">Contact Us:<br>6207300566
            <div class="log"><a href="/login/" >Login</a></div>
            <div class="dev">Developer:<br>Rudransh Pratham</div>
        </div>
        <div class="containerf">
            <div class="fi">
            <a href="https://www.instagram.com/ruddyp1012/"><div class="icon"><i class="fa-brands fa-instagram"></i></div></a>
            <a href="https://github.com/Rudransh2608"><div class="icon"><i class="fa-brands fa-github"></i></div></a>
            <a href="https://www.linkedin.com/in/rudransh-pratham-967bb0255/"><div class="icon"><i class="fa-brands fa-linkedin"></i></div></a>
        </div>
    </div>
        </div>
    </footer>
</body>
</html>